*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: #7A3728;
    color: #ffff;
}

header nav{
    background-color: #C1E1C1;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

header nav h1{
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #7A3728;
}

header nav form{
    display: flex;
    justify-content: center;
}

form input[type="text"]{
    flex-grow: 1;
    margin-right: 10px;
    
}

form input[type="text"],button[type="submit"]{
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 4px;
}

form button[type="submit"]{
    color: #000;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out; 
}

.recipe-container{
    text-align:center;
    /* margin-top: 25px; */
    color: #7A3728;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap: 40px;
    width:80%;
    margin: 10px auto;
    /* padding: 20px; */
    place-items: center;
}


.recipe-container h2{
    color: #C1E1C1;
}
.recipe img{
    height:300px;
}

.recipe h3{
    font-size: 24px;
    margin-block:5px;
}

.recipe p{
    font-size: 20px;
    margin: 5px 0;
}

form button[type="submit"]:hover{
    background-color: #C1E1C1;

}

.recipe{
    background-color: #C1E1C1;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 10px rgba(78,73,73,0.1),-5px -5px 10px rgba(34,34,34,0.5);
    cursor: pointer;
    max-width: 350px;
}

.recipe span{
    font-weight: 600;
}

.recipe button{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #C1E1C1;
    border-color: #7A3728;
    border-width: thick;
    color: #7A3728;
    margin:18px auto;
    /* border: none; */
}

.recipe button:hover{
    background-color:#7A3728;
    color: #ffff;
    border-color: #788c78;
}

.recipe-details{
    display:none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
    background-color: #C1E1C1;
    color:#7A3728;
    font-weight:bolder;
    -webkit-transform: translate(-50%, -50%);
    font-size: 20px;
    border-radius: 12px;
    /* border-width: thick; */
    /* border-color: #000; */
    width: 40%;
    height: 60%;
    transition: all 0.5s ease-in-out;
    overflow-y: scroll;

}

.recipe-details::-webkit-scrollbar{
    width:10px;
}

.recipe-details::-webkit-scrollbar-thumb{
    background: #788c78;
    border-radius: 16px;
    --webkit-border-radius:16px;
}

.recipe-details-content{
    padding: 30px;
}

.ingredientList li{
    margin-bottom: 10px;
    margin-left: -20px;
}

.recipeName{
    text-align:center;
    text-transform: uppercase;
    text-decoration: underline;
}

.recipeInstructions p{
    line-height: 30px;
    white-space: pre-line;
}

.recipe-closebtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #7A3728;
    border-color: #7A3728;
    border-width: medium;
    cursor: pointer;
    color: #C1E1C1;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:600px) {
    header nav{
        flex-direction: column;
    }
    header nav form{
        width:80%
    }
}